<ul>
    <li><a href="~/readfiles/article?name=abc">What is Lorem Ipsum?</a></li>
    <li><a href="~/readfiles/article?name=test_article">Test 2</a></li>
    <li><a href="~/readfiles/article?name=test_article2">Test 3</a></li>
    <li><a href="~/readfiles/article?name=test_article3">Test 4</a></li>
    <hr />
    <li><a href="~/readfiles">All Articles</a></li>
</ul>