@using Templating.Models;
@{
    Employee employee = ViewBag.Employee;
    Employee employee2 = ViewBag.Employee2;
}
<h1>Hello from BLACK _PartialPage1.cshtml</h1>
<p>Name: @employee.Name</p>
<p>Company: @employee.Company</p>
<hr />
<p>Name: @employee2.Name</p>
<p>Company: @employee2.Company</p>
